.loader-page {
  width: 100%;
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  background: var(--bg-primary);
}

.spinner {

  width: 70px;
  height: 70px;

  border-radius: 50%;

  border: 6px solid rgba(255,255,255,0.1);

  border-top-color: var(--color-primary);

  animation: spin 1s linear infinite;
}

@keyframes spin {

  to {
    transform: rotate(360deg);
  }
}